<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Products and Services - Test Site</title>
    <link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../assets/css/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="../views/index.html" class="navbar-brand">
                <img src="../assets/images/logo.jpg" alt="" class="navbar-brand mr-7" width="80" height="80"/>
                Site Name
              </a>
            </div>
            <button type="button" name="button" class='navbar-toggler' data-toggle="collapse" data-target="#menulistdiv">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menulistdiv">
              <ul class="navbar-nav ml-auto" id="menulist">
                <li class="nav-item">
                  <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="about-us.html" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="products-and-services.html" class="nav-link active">Products and Services</a>
                </li>
                <li class="nav-item">
                  <a href="our-team.html" class="nav-link">Meet The Team</a>
                </li>
                <li class="nav-item">
                  <a href="gallery.html" class="nav-link">Gallery</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
      </header>
      <img src="../assets/images/jumbotron02.jpg" alt="jumbotron-image" class="img-responsive w-100" id="headerimg"/>
      <div class="row">
        <section class="col-12 my-2">
          <h2 class="text-center">Products and Services</h2>
          <p class="col-11 m-auto text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit interdum lorem, sit amet bibendum dolor.
            In imperdiet, tortor in vehicula suscipit, quam orci fringilla lectus, non pulvinar nisl metus in massa.
            Aenean lacinia in ex scelerisque ultricies. Donec ut dapibus tortor. Nam convallis a mi ac tristique.
            Etiam vitae dui rhoncus, tincidunt urna at, laoreet sem. Sed maximus metus eget commodo aliquet.
            Morbi sed augue tristique, porta purus non, varius lectus. Vestibulum ultricies ligula in tincidunt molestie.
            Aliquam mattis, massa vel consectetur rhoncus, leo purus sollicitudin mi, accumsan vestibulum urna nisl quis diam.
            Integer turpis justo, consequat nec nisl eget, consectetur dignissim metus. Sed in maximus felis.
          </p>
        </section>
      </div>
      <hr>
      <div class="row">
        <div class="col-11 row mx-auto my-2">
          <div class="card col-12 col-md-5 mx-auto">
            <div class="card-header bg-dark text-white">
              <h4 class="text-center">Product/Service 1</h4>

            </div>
            <div class="card-body">
              <img src="../assets/images/product01.jpg" height="100" width="100" class="img-thumbnail" alt="" />
              <p>
                Nam porta ex nulla, ac tincidunt nibh rhoncus vel. Sed faucibus rutrum neque, in ultricies neque iaculis a.
                Cras porttitor viverra purus, eu pretium nunc fringilla ut. Aenean in eros id tellus egestas gravida at vitae risus.
                Suspendisse non volutpat arcu. Ut iaculis varius tincidunt. Suspendisse egestas facilisis quam ut vehicula.
                Phasellus non eros blandit augue gravida venenatis et a risus. Fusce et blandit nisi.
              </p>
            </div>
          </div>
          <div class="card col-12 col-md-5 mx-auto">
            <div class="card-header bg-dark text-white">
              <h4 class="text-center">Product/Service 2</h4>
            </div>
            <div class="card-body">
              <img src="../assets/images/product02.jpg" height="100" width="100" class="img-thumbnail" alt="" />
              <p>
                Nam porta ex nulla, ac tincidunt nibh rhoncus vel. Sed faucibus rutrum neque, in ultricies neque iaculis a.
                Cras porttitor viverra purus, eu pretium nunc fringilla ut. Aenean in eros id tellus egestas gravida at vitae risus.
                Suspendisse non volutpat arcu. Ut iaculis varius tincidunt. Suspendisse egestas facilisis quam ut vehicula.
                Phasellus non eros blandit augue gravida venenatis et a risus. Fusce et blandit nisi.
              </p>

            </div>
          </div>
        </div>
        <div class="col-11 row mx-auto my-2">
          <div class="card col-12 col-md-5 mx-auto">
            <div class="card-header bg-dark text-white">
              <h4 class="text-center">Product/Service 3</h4>
            </div>
            <div class="card-body">
              <img src="../assets/images/product03.jpg" height="100" width="100" class="img-thumbnail" alt="" />
              <p>
                Nam porta ex nulla, ac tincidunt nibh rhoncus vel. Sed faucibus rutrum neque, in ultricies neque iaculis a.
                Cras porttitor viverra purus, eu pretium nunc fringilla ut. Aenean in eros id tellus egestas gravida at vitae risus.
                Suspendisse non volutpat arcu. Ut iaculis varius tincidunt. Suspendisse egestas facilisis quam ut vehicula.
                Phasellus non eros blandit augue gravida venenatis et a risus. Fusce et blandit nisi.
              </p>

            </div>
          </div>
          <div class="card col-12 col-md-5 mx-auto">
            <div class="card-header bg-dark text-white">
              <h4 class="text-center">Product/Service 4</h4>
            </div>
            <div class="card-body">
              <img src="../assets/images/product04.jpg" height="100" width="100" class="img-thumbnail" alt="" />
              <p>
                Nam porta ex nulla, ac tincidunt nibh rhoncus vel. Sed faucibus rutrum neque, in ultricies neque iaculis a.
                Cras porttitor viverra purus, eu pretium nunc fringilla ut. Aenean in eros id tellus egestas gravida at vitae risus.
                Suspendisse non volutpat arcu. Ut iaculis varius tincidunt. Suspendisse egestas facilisis quam ut vehicula.
                Phasellus non eros blandit augue gravida venenatis et a risus. Fusce et blandit nisi.
              </p>

            </div>

          </div>
        </div>
      </div>
      <footer class="bg-dark row">
        <div class="col-3">
          <h5 class="text-white text-left">Quick Links</h6>
          <ul>
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="index.html">About Us</a>
            </li>
            <li>
              <a href="index.html">Products and Services</a>
            </li>
            <li>
              <a href="index.html">Meet the Team</a>
            </li>
            <li>
              <a href="index.html">Gallery</a>
            </li>
          </ul>
        </div>
        <div class="col-3 mx-auto">
          <h5 class="text-white text-center">Social Links</h6>
          <ul>
            <li class="text-center">
              <a href="#">
              <span class="fa fa-twitter fa-lg text-white"></span>
               Twitter
             </a>
           </li>
           <li class="text-center">
             <a href="#">
             <span class="fa fa-instagram fa-lg text-white"></span>
              Instagram
            </a>
          </li>
          </ul>
        </div>
        <div class="col-3">
          <h5 class="text-white text-right">Contact Info</h5>
          <span class="icon fa fa-home fa-lg text-white">: </span>
          <p class="text-primary">No. 27 ABC Close,
            <br> Abuja,
            <br> Nigeria.
          </p>
          <span class="icon fa fa-phone fa-lg text-white">: </span>
          <a href="tel:+2349097710658">09097710658</a>
          <br>
          <span class="icon fa fa-envelope fa-lg text-white">: </span>
          <a href="mailto:neftilsngl@gmail.com">neftilsngl@gmail.com</a>

        </div>
        <p class="col-12 text-center text-white">&copy; 2018 Copyright Neftil Solutions Limited  </p>
      </footer>
    </div>

    <script type="text/javascript" src='../assets/jquery/jquery.min.js'></script>
    <script type="text/javascript" src='../assets/bootstrap/dist/js/bootstrap.min.js'></script>

  </body>
</html>
